.cabeçalho{
    background-color: rgba(255, 20, 145, 0.959);
    color: black;
    text-align: center;
    padding: 15px;
    
}
.body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgba(189, 10, 105, 0.959);

}
.img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}
.sonhos{
    background-color: rgba(255, 2, 137, 0.712);
    color: black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 18px;
}